body{
	margin: 0;
	padding: 0;
	background-color: white;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	text-align: center;
}
.form-descrip{
	margin-top: 10px;
	color: white;
}
.form-descrip h1{
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	background-color: black;
	opacity: 0.8;
	align-content: center;
	align-items: center;
}
.form-upload{
	background: transparent;
	border: none;
	outline: none;
	margin-top: 0px;
	font-size: 22px;
	font-weight: bold;
}
input{
	margin-top: 20px;
	width: 300px;
	border: solid;
	border-color: gray;
	background: transparent;
	color: black;
	font-size: 15px;
}
form .submit{
	background: #0345a8;
	border-color: transparent;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.5px;
	height: 50px
}
form .submit:hover{
	background-color: #7a7afa;
	cursor: pointer;
}
.uploaded-image{
	margin-top: 20px;
	margin-bottom: 50px
}